---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderHUD from "../components/HeaderHUD.astro";
---

<BaseLayout title="Erixdiego Portfolio">
  <HeaderHUD />

  <main>
    <section id="home" class="screen">
     <div class="panel">
        <h1>Home</h1>
     </div>
    </section>

    <section id="characters" class="screen">
      <div class="panel">
        <h1>Characters</h1>
      </div>
    </section>

    <section id="world" class="screen">
      <div class="panel">
        <h1>World</h1>
      </div>
    </section>

    <section id="projects" class="screen">
      <div class="panel">
        <h1>Projects</h1>
      </div>
    </section>

    <section id="shots" class="screen">
      <div class="panel">
        <h1>Shots</h1>
      </div>
    </section>

    <section id="more" class="screen">
      <div class="panel">
        <h1>More</h1>
      </div>
    </section>

    <section id="contact" class="screen">
      <div class="panel">
        <h1>Contact</h1>
      </div>
    </section>

    <section id="about" class="screen">
      <div class="panel">
        <h1>About</h1>
      </div>
    </section>
  </main>
</BaseLayout>
