<header class="hud-header">
  <nav class="hud-nav">
    <a href="/">Home</a>
    <a href="#characters">Characters</a>
    <a href="#world">World</a>
    <a href="#projects">Projects</a>
    <a href="#shots">Shots</a>
    <a href="#more">More</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </nav>
</header>
